#login_page {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  margin: auto;

  form {
    background-color: black;
    color: white;
    padding: 2rem;
    border-radius: 20px;
    input {
      display: block;
      padding: 0.5rem;
    }

    .form-title {
      font-size: 1.3rem;
    }

    .form-group {
      margin-top: 2rem;
    }

    button {
      display: block;
      margin: auto;
      margin-top: 2rem;
      padding: 1rem 3rem;
    }
  }
}
